#fator {
    width: 5%;
}

td {
    border: 1px solid;
}

thead, tfoot {
    background-color: #134566;
    color: #fff;
}

h3 {
    display: inline;
    width: max-content;
}

#extts {
    display: none;
}

#caixatexto {
    display: none;
}
