#fator {
    width: 5%;
}

td {
    border: 1px solid;
    text-align: center;
}

thead, tfoot {
    background-color: #134566;
    color: #fff;
}

h3 {
    display: inline;
    width: max-content;
}

#extts {
    /*display: none;*/
    display: block;
}

#caixatexto {
    /*display: none;*/
    display: block;
}

.matrizTabela {
    width: 50%;
    
    table-layout: fixed;
}

